@use '../styles/util/variables' as *;

.dashboard > section > header {
  margin-bottom: $spacing-6;
}

.dashboard > section > header > h1 {
  margin: 0 0 $spacing-1;
  font-size: $font-size-2xl;
  font-weight: 600;
  color: $color-text;
}

.dashboard > section > header > p {
  margin: 0;
  font-size: $font-size-sm;
  color: $color-text-muted;
}
